.notification {
  font-size: 1.3em;
  background-color: var(--blue);

  padding: 12px 36px;

  border-radius: 12px;

  animation: notification 200ms ease-in-out;
}

@keyframes notification {
  0% {
    transform: scale(0.2);
  }
}
