.key {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--brown-30);

  grid-column: span 3;

  border-radius: 5px;

  font-weight: 600;
  font-size: 1.25em;

  cursor: pointer;
  user-select: none;
}

#a {
  grid-column: 2 / span 3;
}

#z {
  grid-column: 3 / span 3;
}

#enter {
  grid-column: 25 / span 8;
}

#backspace {
  grid-column: 30 / span 3;
}
