.key {
  background-color: var(--main30);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  grid-column: span 3;

  border-radius: 4px;

  font-size: 1.4em;

  user-select: none;
  cursor: pointer;
}

.key.correct {
  background-color: var(--green40);
}

.key.misplaced {
  background-color: var(--yellow60);
}

.key.wrong {
  background-color: var(--main15);
  color: var(--main40);
}
