.guesses {
  display: grid;
  grid-auto-columns: 1fr;

  gap: 8px;

  width: 100%;
  max-width: 380px;

  margin: auto;
}
/* 
@media screen and (max-width: 468px) {
  .guesses {
    max-width: 240px;
  }
} */
