.notificationsContainer {
  display: flex;
  justify-content: center;
}

.notification {
  background-color: #009afe;
  padding: 6px 28px;
  margin: 0 auto;

  border-radius: 8px;

  font-size: 1.2em;

  animation: center-in 100ms ease-in-out;
}

@keyframes center-in {
  0% {
    transform: scale(0);
  }
}
