.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(32, 1fr);

  width: calc(100% - 1em);
  height: min(100em/2.15, 25vh);

  margin: 0 auto;
  padding: 0 0.5em 0.3em 0.5em;

  gap: 0.25em;

  text-transform: uppercase;

  max-width: 480px;
}
